<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I am a 21 year old programmer fresh out of university with a bachelor's degree. 
          My passion for learning has been expressed in various programming 
          endeavours, data science and in video game creation. You can check all
        of my projects above.</p>
      </div>
      <div class="col-lg-4">
        <p>I am available for hiring in any technology as long as I am able
          to continue learning and growing as a programmer. I am also available
          for any freelance work that you may have. I am always looking for new
          challenges and new ways to grow. <br><a href="docs/CV.pdf">My CV</a>
        </p>
      </div>
    </div>
  </div>
</section>
